@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

.header-nav ul li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px auto;
  width: 80%;
}

.header-nav .nav-link {
  font-family: "Azeret Mono";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  color: #0D1321;
}

.header-nav .nav-btn button {
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid #0D1321;
  opacity: 0.8;
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
}

.banner {
  /* width: 89%; */
  height: 580px;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.banner-container {
  padding: 22px 0px 40px;
  width: 69%;
  text-align: center;
}

.banner-img {
  margin-bottom: 30px;
}

.banner-des h3 {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
}

.banner-des p {
  width: 85%;
  margin: 20px auto 30px;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #0D1321;
}

.banner-btn button a {
  text-decoration: none;
  padding: 20px 22px;
  color: #FFF;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 8px;
  background: #0D1321;
  cursor: pointer;
}

/* banner section done */
main {
  width: 79%;
  margin: 0 auto;
}

.development-sec {
  margin: 70px auto 85px;
  padding: 80px 90px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);

}

.development-heading {
  margin-bottom: 40px;
  text-align: center;
  /* border: 1px solid red; */
}

.development-heading>h3 {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 20px;
}

.development-heading>p {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.development-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dev-card {
  border-radius: 16px;
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  display: flex;
  padding: 48px;
  justify-content: space-between;
  align-items: center;
}

.card-info {
  width: 424px;
}

.card-info h5 {
  color: rgba(13, 19, 33, 0.70);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 14px;

}

.card-info>div p {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 32px;
}

.card-link button {
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 20px;
  border: 1px solid #0D1321;
  opacity: 0.7;
}


#flex-reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 32px;
  background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

/* inspiration section */
.inspiration-section {
  margin: 0 auto 150px;
}

.inspiration-sec-info {
  text-align: center;
  margin: 0 auto 45px;
  width: 758px;
}

.inspiration-sec-info h4 {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 22px;
}

.inspiration-sec-info p {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
}

.iframe-video {
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.20);
  padding: 30px;
}

.iframe-video iframe {
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 0px -5.621px / 100% 110.681% no-repeat;
}

/* My current target  */
.target-section {
  margin-bottom: 110px;
}

.target-info {
  width: 840px;
  margin: 0 auto 48px;
}

.target-info h4 {
  color: #0D1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 24px;
}

.target-info p {
  opacity: 0.7;
  color: #0D1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.target-cards {
  display: flex;
  gap: 24px;
}

.target-card {
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  flex-direction: column;
}

.target-card>div {
  margin: 24px 0;
}

.target-card>div h6 {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.target-card>div p {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
}

.target-card a {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#css-bg {
  background: rgba(0, 76, 232, 0.05);
}

#js-bg {
  background: rgba(255, 223, 0, 0.05);
}


/* my next target */


.next-target-heading {
  text-align: center;
  width: 840px;
  margin: 0 auto 48px;
}

.next-target-heading h4 {
  color: #0D1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 20px;
}

.next-target-heading p {
  color: #0D1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
}


.next-target-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.next-tar-card {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #FFF;
}

.next-target-des>h6 {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.next-target-des>p {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 24px;
  margin-top: 4px;
}

.next-target-des>a {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* support section */
.support {
  padding: 64px 48px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../assets/handshake.jpg) lightgray 50% / cover no-repeat;
  margin-bottom: 80px;
}

.support-container {
  text-align: center;
}

.support-text>h6 {
  color: #FFF;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.support-text>p {
  opacity: 0.7;
  color: #FFF;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 535px;
  margin: 16px auto 24px;
}

.support-input {
  display: flex;
  justify-content: center;
}

.support-input input[type="text"] {
  /* display: flex; */
  width: 548px;
  padding: 19px 20px;
  border-radius: 8px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #FFF;
  margin-right: 16px;
}

.support-input input::placeholder {
  color: rgba(13, 19, 33, 0.40);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.support-input input[type="submit"] {
  border-radius: 8px;
  background: #FFF;
  padding: 15px 20px;
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}


/* footer design */
footer {
  padding: 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container>div {
  color: #0D1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.footer-link {
  display: flex;
  gap: 24px;
}